body {
  background-color: rgb(62, 9, 110);
}

.solitaire {
    width: 90%;
    margin: 0 auto;
}

.board {
  clear: both;
}
.board-rows {
  display: flex;
  justify-content: space-between;
}

.board-row {
  position: relative;
  width: 120px;
  height: 180px;
}

.board-row .card {
  position: absolute;
}

.deck {
  display: flex;
  float: left;
}
.deck .card {
  position: absolute;
}

.pile {
  position: relative;
  height: 200px;
  width: 155px;
}

.suits {
  display: flex;
  float: right;
  position: relative;
}

.suitRow {
  margin-left: 25px;
}

.timer {
  color: rgb(243, 240, 240);
}

.new-game-btn {
  width: 135px;
  height: 54px; 
  background-color: rgb(224, 88, 64);
  color: white;
  font-size: 18px;
  border-radius: 3px solid grey;
  margin-top: 25px;
  margin-bottom: 25px;
}

.message, .time {
  color: rgb(241, 235, 235);
}
